/*
light blue F4F9FC
darker blue AADCEC
darkest blue 0F1B61
purple 7F00E0
*/

/*
FONTS: Bitter

Serifs:
Regular 400 - 
Regular 400 Italic -
SemiBold 600 
ExtraBold 800 
font-family: 'Bitter', serif;

Sans Serif is Noto Sans
Regular, Bold, Italic, Not

font-family: 'Noto Sans', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,600;0,800;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
    /* border: solid black 1px; */
    box-shadow: inset -1px -1px 0 black, inset 1px 1px 0 black;
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #0F1B61;
    background-color: transparent;
}

body {
  background-color: #e1f4ff;
  margin: 1vw;
}

h1 {
  font-family: 'Bitter', serif;
  font-size: 40px;
  font-weight:800;
}

.header {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.header::after {
  background-image: linear-gradient(-135deg, #aadcec, transparent 70%);
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
}


.header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  z-index: 999;
}

.header-text h1 {
  align-self: first baseline;
  padding-left: 3vw;
  text-shadow: 0.15rem 0.15rem 0 rgba(170,220,236,1);
}

.header-text p {
  align-self: first baseline;
  padding-left: 5vw;
  padding-right: 10vw;
  font-family: 'Bitter', serif;
  font-size:18px;
}

.header p i {
  font-size: 18px;
}

  .reading {
    margin-top: 1vw;
    margin-bottom: 5vw;
    height: 15rem;
    min-height: max-content;
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    position: relative;
    transition: all 1s linear;
  }
  
  .open {
    min-height: 74.6vw;
  }

  
  
  .reading-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 0rem;
    padding-bottom: 0rem;
    /* padding-right: 12.6rem; */
    height: max-content;
    width: 100%;
    font-family: 'Noto Sans', sans-serif;
}


  .reading-1 {
    height: max-content;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    width: 54vw;
    display: flex;
    flex-direction: column;
    border-bottom: 0.6rem dotted #aadcec;
  }
  .reading-2 {
    /* position: absolute;
    margin-top: 14.5rem; */
    /* bottom: 63%;
    left: calc(74.1% - 10rem); */
    height: max-content;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    width: 54vw;
    display: flex;
    flex-direction: column;
    border-bottom: 0.6rem dotted #aadcec;
  }
  .reading-3 {
    /* position: absolute;
    margin-top: 25rem; */
    /* bottom: 48%;
    left: 20%; */
    height: max-content;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    width: 54vw;
    display: flex;
    flex-direction: column;
    border-bottom: 0.6rem dotted #aadcec;
  }
  .reading-4 {
    /* position: absolute;
    margin-top: 35.5rem; */
    /* bottom: 32%;
    left: calc(74.1% - 10rem); */
    height: max-content;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    width: 54vw;
    display: flex;
    flex-direction: column;
    border-bottom: 0.6rem dotted #aadcec;
  }
  .reading-5 {
    /* position: absolute;
    margin-top: 46rem; */
    /* bottom: 17%;
    left: 20%; */
    height: max-content;
    margin-bottom: 0rem;
    padding-bottom: 1rem;
    width: 54vw;
    display: flex;
    flex-direction: column;
  }


  .reading-1 p, .reading-2 p, .reading-3 p, .reading-4 p, .reading-5 p {
    height:min-content;
  }

  h3 {
    font-family: 'Bitter', serif;
    text-shadow: 1px 1px 0 #aadcec;
    font-size: 1.25rem;
  }

  h4 {
    font-family: 'Bitter', serif;
    text-shadow: 1px 1px 0 #aadcec;
    font-size: 1.5rem;
  }
  .front, .back {
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    position: absolute;
    /* background: firebrick; */
    backface-visibility: hidden;
    /* transition: opacity 100ms linear 5s;
    transition: transform 10s ease; */
    
  }
  
  .back {
    background-image: url('https://i.imgur.com/3ovVgAo.png');
    background-size: contain;
  }
 
  .flipped {
    transform: rotateY(180deg);
  }

  .front {
    background: blueviolet;
    transform: rotateY(180deg);
  }

  
  .card {
    /* height: 11.44rem;
    width: 6.5rem; */
    width: 6.67vw;
    height: 11.73vw;
    border-radius: 1rem;
    margin: 0;
    padding: 0;
    float: left;
    position: absolute;
    transition: all 1s ease;
  }
  
  .card-content {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);
    transition: transform 2s;
    transform-style: preserve-3d;
    border-radius: 1rem;
  }


  
  /* .navbar { */
    /* align-self: stretch; */
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  } */
  

  .navbar {
    display : flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: space-around;
    padding: 0 1rem;
    z-index: 999;
    background-color: transparent;
  }
  
  .navbar li {
    width: 5.5rem;
    display: flex;
    justify-content:flex-start;
    padding-left: 6px;
    font-family: 'Bitter', serif;
    font-weight: 600;
    background-color: transparent;
    box-shadow: -0.3rem -0.3rem #7f00e0, inset 0 0.3rem rgba(244,249,252, 0.75);
  }
  
  .navbar li a {
    text-decoration: none;
    background-color: transparent;
  }
  .navbar li a b {
    background-color: transparent;
  }

  .footer {
    display: flex;
    justify-content: right;
    font-family: 'Bitter', serif;
    font-weight: 400;
  }
  
  .footer p {
    font-size: 12px;
  }
  
  .footer span {
    font-weight: 600;
    font-size: 13px;
  }
  .contact {
    display: flex;
    width: 60%;
    justify-content: space-evenly;
  }
  .contact ul {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    list-style-type: none;
  }
  
  /* .lower {
    display: flex;
    flex-direction: column;
    justify-content: center;
  } */
  
  .buttons {
    display: flex;
    justify-content: center;
    margin: 1vw 0 2vw 0;
  }
  
  .button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }

  .btn {
    font-size: 1.5rem;
    font-family: 'Bitter', serif;
    font-weight: 600;
    text-align: center;
    height: 2.5rem;
    width: 6rem;
  }

  .button-label {
    color: #0F1B61;
    border: 3px solid rgba(127,0,224,0.75);
    border-radius: 8px;
    z-index: 2; 
    position: relative;
    display: inline-block;
    /* padding: 5px 20px; */

  }
  
  .button-fill {
    position: absolute;
    color: #aadcec;
    /* display: inline-block; */
    z-index: 1;
    border-radius: 8px;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }

  .enabled:hover > .btn.button-fill {
    background-color: #aadcec;
    box-shadow: inset 6px 6px #e1f4ff, 6px 6px #aadcec;
  }

  .deck {
    /* list-style-type: none; */
    /* padding: 1em; */
    margin: 20vw 0 0 0;
    padding-top: 10vw;
    width: 0;
    height: 0;
    /* position: static; */
    clear: both;
    /* align-self: center; */
  }
  
  /* .deck div {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: left;
    position: absolute;
    /* bottom: 0; */
    /* transition: all 5s ease; */
    /* transition: bottom 300ms linear; */
  
  .resting {
    transition: bottom 300ms linear;
  }
  
  .resting:hover {
    bottom: 2rem;
  }
  
  .deck-pos-1 { left: 36%; bottom: -3vw; }
  .deck-pos-2 { left: 37%; bottom: -3vw; }
  .deck-pos-3 { left: 38%; bottom: -3vw; }
  .deck-pos-4 { left: 39%; bottom: -3vw; }
  .deck-pos-5 { left: 40%; bottom: -3vw; }
  .deck-pos-6 { left: 41%; bottom: -3vw; }
  .deck-pos-7 { left: 42%; bottom: -3vw; }
  .deck-pos-8 { left: 43%; bottom: -3vw; }
  .deck-pos-9 { left: 44%; bottom: -3vw; }
  .deck-pos-10 { left: 45%; bottom: -3vw; }
  .deck-pos-11 { left: 46%; bottom: -3vw; }
  .deck-pos-12 { left: 47%; bottom: -3vw; }
  .deck-pos-13 { left: 48%; bottom: -3vw; }
  .deck-pos-14 { left: 49%; bottom: -3vw; }
  .deck-pos-15 { left: 50%; bottom: -3vw; }
  .deck-pos-16 { left: 51%; bottom: -3vw; }
  .deck-pos-17 { left: 52%; bottom: -3vw; }
  .deck-pos-18 { left: 53%; bottom: -3vw; }
  .deck-pos-19 { left: 54%; bottom: -3vw; }
  .deck-pos-20 { left: 55%; bottom: -3vw; }
  .deck-pos-21 { left: 56%; bottom: -3vw; }
  .deck-pos-22 { left: 57%; bottom: -3vw; }
  .deck-pos-23 { left: 58%; bottom: -3vw; }
  
  .target-0 { 
    left: 6vw; 
    bottom: 55.5vw;
    /* transform: scale(1.5) */
    width: 10vw;
    height: 17.6vw;
  }
  
  .target-1 { 
    left: 81vw;
    bottom: 43.4vw;
    width: 10vw;
    height: 17.6vw;
  }
  
  .target-2 { 
    left: 6vw; 
    bottom: 34.4vw;
    width: 10vw;
    height: 17.6vw;
  }
  
  .target-3 { 
    left: 81vw;
    bottom: 22.3vw;
    width: 10vw;
    height: 17.6vw;
  }
  
  .target-4 { 
    left: 6vw; 
    bottom: 13.3vw;
    width: 10vw;
    height: 17.6vw;
  }
  
  .select-card {
    bottom: 1em;
    box-shadow: 0 0 10px 1px #fff;
  }
  
  