/*
light blue F4F9FC
darker blue AADCEC
darkest blue 0F1B61
purple 7F00E0
*/

/*
FONTS: Bitter

Serifs:
Regular 400 - 
Regular 400 Italic -
SemiBold 600 
ExtraBold 800 
font-family: 'Bitter', serif;

Sans Serif is Noto Sans
Regular, Bold, Italic, Not

font-family: 'Noto Sans', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,600;0,800;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
    /* border: solid black 1px; */
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #0F1B61;
    background-color: #F4F9FC;
}

h1 {
  font-family: 'Bitter', serif;
  font-size: 40px;
  font-weight:800;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header h1 {
  align-self: first baseline;
  padding-left: 3vw;
}

.header p {
  align-self: first baseline;
  padding-left: 5vw;
  padding-right: 10vw;
  font-family: 'Bitter', serif;
  font-size:18px;
}

.header p i {
  font-size: 18px;
}

  .closed-reading {
    background-color: #AADCEC;
    height: 30rem;
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    position: relative;
    transition: all 500ms linear;
  }
  
  .open-reading {
    background-color: #F4F9FC;
    width: 100%;
    height: 75rem;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    position: relative;
    transition: all 1000ms linear;
  }
  
  .reading-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 13rem;
    /* padding-right: 12.6rem; */
    height: 100%;
    width: 100%;
  }

  .reading-1 {
    /* position: absolute; */
    /* margin-top: 4rem;
    margin-left: 20%; */
    /* bottom: 79%;
    left: calc(20% + 10rem); */
    height: 10rem;
    width: 54%;
    display: flex;
    flex-direction: column;
  }
  .reading-2 {
    /* position: absolute;
    margin-top: 14.5rem; */
    /* bottom: 63%;
    left: calc(74.1% - 10rem); */
    height: 10rem;
    width: 54%;
    display: flex;
    flex-direction: column;
  }
  .reading-3 {
    /* position: absolute;
    margin-top: 25rem; */
    /* bottom: 48%;
    left: 20%; */
    height: 10rem;
    width: 54%;
    display: flex;
    flex-direction: column;
  }
  .reading-4 {
    /* position: absolute;
    margin-top: 35.5rem; */
    /* bottom: 32%;
    left: calc(74.1% - 10rem); */
    height: 10rem;
    width: 54%;
    display: flex;
    flex-direction: column;
  }
  .reading-5 {
    /* position: absolute;
    margin-top: 46rem; */
    /* bottom: 17%;
    left: 20%; */
    height: 10rem;
    width: 54%;
    display: flex;
    flex-direction: column;
  }

  
  .front, .back {
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    position: absolute;
    /* background: firebrick; */
    backface-visibility: hidden;
    /* transition: opacity 100ms linear 5s;
    transition: transform 10s ease; */
    
  }
  
  .back {
    background-image: url('https://i.imgur.com/3ovVgAo.png');
    background-size: contain;
  }
 
  .flipped {
    transform: rotateY(180deg);
    transition: transform 10s;
  }

  .front {
    background: blueviolet;
    transform: rotateY(180deg);
  }

  
  .card {
    height: 11.44rem;
    width: 6.5rem;
    border-radius: 1rem;
    margin: 0;
    padding: 0;
    float: left;
    position: absolute;
    transition: all 1s ease;
    /* transform-style: preserve-3d; */
    /* transition: left 1s ease;
    transition: bottom 1s ease;
    transition: transform 1s ease; */
  }
  
  .card-content {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);
    transition: transform 3s;
    transform-style: preserve-3d;
    border-radius: 1rem;
  }


  
  .navbar {
    width: 60vw;
  
  }
  .navbar ul {
    display : flex;
    justify-content: space-between;
    list-style-type: none;
  }
  
  .navbar li {
    width: 5vw;
    display: flex;
    justify-content: center;
  }
  
  .footer {
    display: flex;
    justify-content: right;
  }
  
  .contact {
    display: flex;
    width: 60%;
    justify-content: space-evenly;
  }
  .contact ul {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    list-style-type: none;
  }
  
  /* .lower {
    display: flex;
    flex-direction: column;
    justify-content: center;
  } */
  
  .buttons {
    align-self: center;
  }
  
  
  .deck {
    /* list-style-type: none; */
    padding: 1em;
    margin: 0 0 0 0;
    /* position: static; */
    clear: both;
    /* align-self: center; */
  }
  
  /* .deck div {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: left;
    position: absolute;
    /* bottom: 0; */
    /* transition: all 5s ease; */
    /* transition: bottom 300ms linear; */
  
  .resting {
    transition: bottom 300ms linear;
  }
  
  .resting:hover {
    bottom: 2rem;
  }
  
  .deck-pos-1 { left: 36%; bottom: 1%; }
  .deck-pos-2 { left: 37%; bottom: 1%; }
  .deck-pos-3 { left: 38%; bottom: 1%; }
  .deck-pos-4 { left: 39%; bottom: 1%; }
  .deck-pos-5 { left: 40%; bottom: 1%; }
  .deck-pos-6 { left: 41%; bottom: 1%; }
  .deck-pos-7 { left: 42%; bottom: 1%; }
  .deck-pos-8 { left: 43%; bottom: 1%; }
  .deck-pos-9 { left: 44%; bottom: 1%; }
  .deck-pos-10 { left: 45%; bottom: 1%; }
  .deck-pos-11 { left: 46%; bottom: 1%; }
  .deck-pos-12 { left: 47%; bottom: 1%; }
  .deck-pos-13 { left: 48%; bottom: 1%; }
  .deck-pos-14 { left: 49%; bottom: 1%; }
  .deck-pos-15 { left: 50%; bottom: 1%; }
  .deck-pos-16 { left: 51%; bottom: 1%; }
  .deck-pos-17 { left: 52%; bottom: 1%; }
  .deck-pos-18 { left: 53%; bottom: 1%; }
  .deck-pos-19 { left: 54%; bottom: 1%; }
  .deck-pos-20 { left: 55%; bottom: 1%; }
  .deck-pos-21 { left: 56%; bottom: 1%; }
  .deck-pos-22 { left: 57%; bottom: 1%; }
  .deck-pos-23 { left: 58%; bottom: 1%; }
  
  .target-0 { 
    left: 13%; 
    bottom: 80%;
    transform: scale(1.5)
  }
  
  .target-1 { 
    left: 80%;
    bottom: 65%;
    transform: scale(1.5)
  }
  
  .target-2 { 
    left: 13%; 
    bottom: 50%;
    transform: scale(1.5)
  }
  
  .target-3 { 
    left: 80%;
    bottom: 35%;
    transform: scale(1.5)
  }
  
  .target-4 { 
    left: 13%; 
    bottom: 20%;
    transform: scale(1.5)
  }
  
  .select-card {
    bottom: 1em;
    box-shadow: 0 0 10px 1px #fff;
  }
  
  