* {
  box-sizing: border-box;
  border: solid black 1px;
  margin: 0;
  padding: 0;
}

.reading {
  background-color: darkslategray;
  height: 40vh;
}

.lower {
  background-color: lightcoral;
  height: 40vh;
}

.deck {
  height: 80%;
  width: 80%;
  background-color: aquamarine;
}

.card {
  height: 7rem;
  width: 5rem;
  background-color: firebrick;
  border-radius: 5%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header h1 {
  align-self: first baseline;
  padding-left: 3vw;
}

.header p {
  align-self: first baseline;
  padding-left: 5vw;
  padding-right: 10vw;
}

.navbar {
  width: 60vw;

}
.navbar ul {
  display : flex;
  justify-content: space-between;
  list-style-type: none;
}

.navbar li {
  width: 5vw;
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.contact {
  display: flex;
  width: 60%;
  justify-content: space-evenly;
}
.contact ul {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  list-style-type: none;
}