* {
  box-sizing: border-box;
  border: solid black 1px;
  margin: 0;
  padding: 0;
}

.reading {
  background-color: darkslategray;
  height: 120vh;
}

.lower {
  background-color: lightcoral;
  height: 40vh;
}

.deck {
  height: 9em;
  width: 27em;
  background-color: aquamarine;
}

.card {
  height: 7em;
  width: 5em;
  background-color: firebrick;
  border-radius: 5%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header h1 {
  align-self: first baseline;
  padding-left: 3vw;
}

.header p {
  align-self: first baseline;
  padding-left: 5vw;
  padding-right: 10vw;
}

.navbar {
  width: 60vw;

}
.navbar ul {
  display : flex;
  justify-content: space-between;
  list-style-type: none;
}

.navbar li {
  width: 5vw;
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.contact {
  display: flex;
  width: 60%;
  justify-content: space-evenly;
}
.contact ul {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  list-style-type: none;
}

.lower {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttons {
  align-self: center;
}


ul.deck {
  list-style-type: none;
  padding: 1em;
  margin: 0 0 0 0;
  position: relative;
  clear: both;
  align-self: center;
}

ul.deck li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: left;
  position: absolute;
  bottom: 0;
  transition: all 300ms ease-in-out;
}

ul.deck li:hover {
  bottom: 1em;
  box-shadow: 0 0 10px 1px #fff;
  
}

.deck-pos-1 { left: 0; }
.deck-pos-2 { left: 1em; }
.deck-pos-3 { left: -20vw; top: -120vh;} 
/*POSITION ONE */
/* .deck-pos-3 { left: 2em; } */
.deck-pos-4 { left: 3em; }
.deck-pos-5 { left: 4em; }
.deck-pos-6 { left: 5em; }
/* .deck-pos-7 { left: 6em; } */
/* POSITION TWO*/
.deck-pos-7 { left: 50vw; top: -100vh;}
.deck-pos-8 { left: 7em; }
.deck-pos-9 { left: 8em; }
.deck-pos-10 { left: 9em; }
/* POSITION THREE*/
/* .deck-pos-11 { left: 10em; } */
.deck-pos-11 { left: -20vw; top: -80vh;}
.deck-pos-12 { left: 11em; }
.deck-pos-13 { left: 12em; }
/* POSITION FOUR*/
/* .deck-pos-14 { left: 13em; } */
.deck-pos-14 { left: 50vw; top: -60vh;}
.deck-pos-15 { left: 14em; }
.deck-pos-16 { left: 15em; }
.deck-pos-17 { left: 16em; }
.deck-pos-18 { left: 17em; }
.deck-pos-19 { left: 18em; }
.deck-pos-20 { left: 19em; }
.deck-pos-21 { left: 20em; }
/* POSITION FIVE */
/* .deck-pos-22 { left: 21em; } */
.deck-pos-22 { left: -20vw; top: -40vh;}
.deck-pos-23 { left: 22em; }
