* {
  box-sizing: border-box;
  border: solid black 1px;
  margin: 0;
  padding: 0;
}

.reading {
  background-color: darkslategray;
  height: 200vh;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  position: relative;
}

.lower {
  background-color: lightcoral;
  height: 20vh;
  position: static;
}

.deck {
  height: 9em;
  width: 27em;
  background-color: aquamarine;
  position: static;
}

.card {
  height: 10.5rem;
  width: 7.5rem;
  background-color: firebrick;
  border-radius: 1rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header h1 {
  align-self: first baseline;
  padding-left: 3vw;
}

.header p {
  align-self: first baseline;
  padding-left: 5vw;
  padding-right: 10vw;
}

.navbar {
  width: 60vw;

}
.navbar ul {
  display : flex;
  justify-content: space-between;
  list-style-type: none;
}

.navbar li {
  width: 5vw;
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.contact {
  display: flex;
  width: 60%;
  justify-content: space-evenly;
}
.contact ul {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  list-style-type: none;
}

.lower {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttons {
  align-self: center;
}


ul.deck {
  list-style-type: none;
  padding: 1em;
  margin: 0 0 0 0;
  position: static;
  clear: both;
  align-self: center;
}

ul.deck li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: left;
  position: absolute;
  bottom: 0;
  transition: all 300ms linear;
}

ul.deck li:hover {
  bottom: 1em;
  
  
}

.deck-pos-1 { left: 35%; }
.deck-pos-2 { left: 36%; }
.deck-pos-3 { left: 2em; }
.deck-pos-4 { left: 38%; }
.deck-pos-5 { left: 39%; }
.deck-pos-6 { left: 40%; }
.deck-pos-7 { left: 6em; }
.deck-pos-8 { left: 42%; }
.deck-pos-9 { left: 43%; }
.deck-pos-10 { left: 44%; }
.deck-pos-11 { left: 10em; }
.deck-pos-12 { left: 46%; }
.deck-pos-13 { left: 47%; }
.deck-pos-14 { left: 13em; }
.deck-pos-15 { left: 49%; }
.deck-pos-16 { left: 50%; }
.deck-pos-17 { left: 51%; }
.deck-pos-18 { left: 52%; }
.deck-pos-19 { left: 53%; }
.deck-pos-20 { left: 54%; }
.deck-pos-21 { left: 55%; }
.deck-pos-22 { left: 21em; }
.deck-pos-23 { left: 57%; }

.target-1 { left: 5rem; top: 1rem;}
.target-2 { right:5rem; top: 12rem;}
.target-3 { left: 5rem; top: 23rem;}
.target-4 { right: 5rem; top: 34rem;}
.target-5 { left: 5rem; top: 45rem;}

ul.deck li.select-card {
  bottom: 1em;
  box-shadow: 0 0 10px 1px #fff;
}

